{% from "components/link.njk" import Link %}

<footer class="bg-slate-800 text-gray-200 px-10 py-20">


    <div class="">
    <div class="mb-10 ">    
      <a href="/" class="uppercase font-lexend font-semibold text-white text-2xl">
        wissenschaft inc.
      </a>
      <div class="border-b border-b-blue-50 "></div>
    </div>
  <div class="max-w-7xl mx-auto grid grid-cols-4 max-md:grid-cols-1 gap-10">

    <!-- Services -->
    <div>
      <h3 class="text-white font-semibold mb-4">Services</h3>
      <ul class="space-y-2 text-sm">
        <li>{{ Link('#', 'Web Development') }}</li>
        <li>{{ Link('#', 'Mobile') }}</li>
        <li>{{ Link('#', 'Web Design, Product Design, UX, Illustration') }}</li>
        <li>{{ Link('#', 'Fintech') }}</li>
        <li>{{ Link('#', 'Machine Learning & AI') }}</li>
        <li>{{ Link('#', 'Blockchain') }}</li>
        <li>{{ Link('#', 'Testing') }}</li>
        <li>{{ Link('#', 'DevOps') }}</li>
        <li>{{ Link('#', 'MLOps') }}</li>
      </ul>
    </div>

    <!-- Case Studies -->
    <div>
      <h3 class="text-white font-semibold mb-4">Case Studies</h3>
      <ul class="space-y-2 text-sm">
        <li>{{ Link('#', 'The Forbes Dashboard') }}</li>
        <li>{{ Link('#', 'Altruisto') }}</li>
        <li>{{ Link('#', 'Smogdog') }}</li>
        <li>{{ Link('#', 'Arroe') }}</li>
        <li>{{ Link('#', 'Swile') }}</li>
        <li>{{ Link('#', 'Moon Mortgage') }}</li>
        <li>{{ Link('#', 'Aleph Zero') }}</li>
        <li>{{ Link('#', 'Datacapt') }}</li>
        <li>{{ Link('#', 'Qenta') }}</li>
      </ul>
    </div>

    <!-- Company -->
    <div>
      <h3 class="text-white font-semibold mb-4">Company</h3>
      <ul class="space-y-2 text-sm">
        <li>{{ Link('#', 'How We Work') }}</li>
        <li>{{ Link('#', 'Banking Of The Future') }}</li>
        <li>{{ Link('#', 'Resources') }}</li>
        <li>{{ Link('#', 'Blog') }}</li>
        <li>{{ Link('#', 'Careers') }}</li>
        <li>{{ Link('#', 'Contact Us') }}</li>
        <li>{{ Link('#', 'PARP') }}</li>
      </ul>
    </div>

    <!-- Technologies -->
    <div>
      <h3 class="text-white font-semibold mb-4">Technologies</h3>
      <ul class="grid grid-cols-2 gap-x-6 text-sm space-y-2">
        <li>{{ Link('#', 'Python') }}</li>
        <li>{{ Link('#', 'OpenAI') }}</li>
        <li>{{ Link('#', 'Kotlin') }}</li>
        <li>{{ Link('#', 'AIConsole') }}</li>
        <li>{{ Link('#', 'Swift') }}</li>
        <li>{{ Link('#', 'ElevenLabs') }}</li>
        <li>{{ Link('#', 'React.Js') }}</li>
        <li>{{ Link('#', 'SeaChat') }}</li>
        <li>{{ Link('#', 'Angular') }}</li>
        <li>{{ Link('#', 'LangChain') }}</li>
        <li>{{ Link('#', 'Django') }}</li>
        <li>{{ Link('#', 'Synthesia') }}</li>
        <li>{{ Link('#', 'React Native') }}</li>
        <li>{{ Link('#', 'HeyGen') }}</li>
        <li>{{ Link('#', 'Flutter') }}</li>
        <li>{{ Link('#', 'Solidity') }}</li>
        <li>{{ Link('#', 'Node.Js') }}</li>
        <li>{{ Link('#', 'AWS') }}</li>
        <li>{{ Link('#', 'Vue.Js') }}</li>
        <li>{{ Link('#', 'Node-RED') }}</li>
        <li>{{ Link('#', 'HTML + CSS') }}</li>
      </ul>
    </div>
  </div>
</footer>
