<main class="px-10 ">
    <section class="py-10 mb-10">
        <h2 class="text-5xl text-blue-400 font-medium mb-10">What our clients say</h2>
        <div class="grid grid-cols-3 gap-10  max-lg:grid-cols-1">

            <div
                class=" _card_2 group flex  bg-slate-100 rounded-2xl overflow-hidden cursor-default shadow-sm hover:shadow-md hover:-translate-y-1 transition-all duration-100">
                <div class="p-6 flex-1 relative text-xl">
                    <h3 class="text-slate-600 font-semibold text-3xl group-hover:text-slate-600">Kyle Seo</h3>
                    <p class="text-gray-400 mt-2 ">
                        Working with Wissenschaft Inc. has been a game-changer for our company. I can attest to the
                        exceptional quality of their products and services. Wissenschaft's innovative approach to
                        technology has helped us streamline our processes and achieve our business goals faster than
                        ever before.
                    </p>
                    <span
                        class="mt-4 inline-flex gap-2 items-center text-gray-400 group-hover:gap-3 group-hover:text-blue-400 transition-all duration-150 relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-blue-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300 ">
                        <span>CEO, TechCorp</span>
                    </span>
                </div>

            </div>
            <div
                class=" _card_2 group flex  bg-slate-100 rounded-2xl overflow-hidden cursor-default shadow-sm hover:shadow-md hover:-translate-y-1 transition-all duration-100">
                <div class="p-6 flex-1 relative text-xl">
                    <h3 class="text-slate-600 font-semibold text-3xl group-hover:text-slate-600">John Doe</h3>
                    <p class="text-gray-400 mt-2 ">
                        "Wissenschaft transformed our online presence. Their team was professional, creative, and
                        responsive throughout the entire process. We saw a significant increase in engagement and sales
                        after launching our new website. Highly recommended!"
                    </p>
                    <span
                        class="mt-4 inline-flex gap-2 items-center text-gray-400 group-hover:gap-3 group-hover:text-blue-400 transition-all duration-150 relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-blue-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300 ">
                        <span>CEO, TechCorp</span>
                    </span>
                </div>

            </div>
            <div
                class=" _card_2 group flex  bg-slate-100 rounded-2xl overflow-hidden cursor-default shadow-sm hover:shadow-md hover:-translate-y-1 transition-all duration-100">
                <div class="p-6 flex-1 relative text-xl">
                    <h3 class="text-slate-600 font-semibold text-3xl group-hover:text-slate-600">John Doe</h3>
                    <p class="text-gray-400 mt-2 ">
                        "Wissenschaft transformed our online presence. Their team was professional, creative, and
                        responsive throughout the entire process. We saw a significant increase in engagement and sales
                        after launching our new website. Highly recommended!"
                    </p>
                    <span
                        class="mt-4 inline-flex gap-2 items-center text-gray-400 group-hover:gap-3 group-hover:text-blue-400 transition-all duration-150 relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-blue-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300 ">
                        <span>CEO, TechCorp</span>
                    </span>
                </div>

            </div>


        </div>


</main>