<main class="px-5 relative  bg-white">
  <section class="py-6 h-[100dvh]">


    <!-- <video autoplay muted loop playsinline class="absolute top-0 left-0 w-full h-full object-cover -z-10">
      <source src="/assets/images/movie.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video> -->

    <div class="absolute top-0 left-[40dvw] w-full h-full bg-gradient-to-r from-blue-900 via-blue-500 to-blue-50  opacity-90 rounded-bl-lg overflow-hidden">
        <div class=" ">
          <figure>
            <!-- <img src="/assets/ismages/macbook_mockup.jpg" alt="mackbook_mockup"> -->
          </figure>
        </div>
    </div>

    <div class="flex justify-start items-center h-full py-6">
      <div class="">
        <h1 class="text-7xl mix-blend-difference text-white uppercase font-semibold">We deliver quality</h1>
        <h2 class="text-3xl">Software solutions at range of scale </h2>

        <div class="flex gap-4">

          <button class=" btn-primary mt-4">Demo</button>
          <button class=" btn-primary-inverse mt-4">Contact</button>
        </div>

      </div>

    </div>
  </section>
</main>