<main class="px-10">
    <section class="py-20">

        <div class="relative mx-auto w-full flex justify-center mb-40">

            <div class="flex items-start justify-between ">

                <div class="flex flex-col gap-4 justify-start items-start basis-2/5">
                    <h2 class="text-5xl text-start">
                        Get the best product on the market
                    </h2>
                    <h2 class="text-3xl ">
                        We provide design, development, strategy, and marketting services to companies & organizations
                        of all sizes.
                    </h2>
                    <!-- <a href="#"
                        class="relative text-xl text-blue-400 font-medium before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300">
                        Services &rightarrow;
                    </a> -->
                </div>
                <div class="text-5xl text-blue-400 font-medium flex flex-col gap-4 px-6">
                    <h2>Site & App</h2>
                    <h2>Brand</h2>
                    <h2>Software</h2>
                </div>

            </div>
        </div>
        <h2 class="text-5xl text-blue-400 font-medium mb-10">What we do</h2>

        <div class="grid grid-cols-2 gap-10 ">

            <div
                class=" _card_2 group flex  bg-slate-100 rounded-2xl overflow-hidden cursor-default shadow-sm hover:shadow-md hover:-translate-y-1 transition-all duration-100">
                <div class="bg-slate-300 text-slate-500 flex items-center justify-stretch p-6  ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                    </svg>
                </div>
                <div class="p-6 flex-1 relative text-xl">
                    <h3 class="text-slate-600 font-semibold text-3xl group-hover:text-slate-600">Brand &amp; Identity
                        Design</h3>
                    <p class="text-gray-400 mt-2 ">
                        We craft unique brand identities that communicate your values and make your business stand out
                        with lasting impact.
                    </p>
                    <a href="#"
                        class="mt-4 inline-flex gap-2 items-center text-gray-400 group-hover:gap-3 group-hover:text-blue-400 transition-all duration-150 relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-blue-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300 ">
                        <span>Learn More</span> <span>&#8594;</span>
                    </a>
                </div>
            </div>
            <div
                class=" _card_2 group flex  bg-slate-100 rounded-2xl overflow-hidden cursor-default shadow-sm hover:shadow-md hover:-translate-y-1 transition-all duration-100">
                <div class="bg-slate-300 text-slate-500 flex items-center justify-stretch p-6  ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                    </svg>
                </div>
                <div class="p-6 flex-1 relative text-xl">
                    <h3 class="text-slate-600 font-semibold text-3xl group-hover:text-slate-600">Custom Software
                        Development
                    </h3>
                    <p class="text-gray-400 mt-2 ">
                        Tailored software solutions designed to fit your business needs, ensuring scalability,
                        reliability, and seamless performance.
                    </p>
                    <a href="#"
                        class="mt-4 inline-flex gap-2 items-center text-gray-400 group-hover:gap-3 group-hover:text-blue-400 transition-all duration-150 relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-blue-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300 ">
                        <span>Learn More</span> <span>&#8594;</span>
                    </a>
                </div>
            </div>
            <div
                class=" _card_2 group flex  bg-slate-100 rounded-2xl overflow-hidden cursor-default shadow-sm hover:shadow-md hover:-translate-y-1 transition-all duration-100">
                <div class="bg-slate-300 text-slate-500 flex items-center justify-stretch p-6  ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                    </svg>
                </div>
                <div class="p-6 flex-1 relative text-xl">
                    <h3 class="text-slate-600 font-semibold text-3xl group-hover:text-slate-600">Mobile App Development
                    </h3>
                    <p class="text-gray-400 mt-2 ">
                        We build intuitive, high-performing mobile apps that engage users and deliver smooth experiences
                        across iOS and Android.
                    </p>
                    <a href="#"
                        class="mt-4 inline-flex gap-2 items-center text-gray-400 group-hover:gap-3 group-hover:text-blue-400 transition-all duration-150 relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-blue-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300 ">
                        <span>Learn More</span> <span>&#8594;</span>
                    </a>
                </div>
            </div>
            <div
                class=" _card_2 group flex  bg-slate-100 rounded-2xl overflow-hidden cursor-default shadow-sm hover:shadow-md hover:-translate-y-1 transition-all duration-100">
                <div class="bg-slate-300 text-slate-500 flex items-center justify-stretch p-6  ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                    </svg>
                </div>
                <div class="p-6 flex-1 relative text-xl">
                    <h3 class="text-slate-600 font-semibold text-3xl group-hover:text-slate-600">Website & Web App
                    </h3>
                    <p class="text-gray-400 mt-2 ">
                        Modern, responsive websites and web apps built to be fast, secure, and user-friendly, helping
                        you grow your online presence.
                    </p>
                    <a href="#"
                        class="mt-4 inline-flex gap-2 items-center text-gray-400 group-hover:gap-3 group-hover:text-blue-400 transition-all duration-150 relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-blue-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300 ">
                        <span>Learn More</span> <span>&#8594;</span>
                    </a>
                </div>
            </div>


        </div>
        <div class=" flex justify-center mt-20">
            <a href="#"
                class="px-6 py-3 bg-blue-400 text-white rounded-lg text-xl font-medium hover:bg-blue-500 transition-colors duration-300">
                View All Services
            </a>

        </div>
    </section>
</main>