<main class="px-10 relative  bg-white">
  <section class="py-6 h-[100dvh]">


    <!-- <video autoplay muted loop playsinline class="absolute top-0 left-0 w-full h-full object-cover -z-10">
      <source src="/assets/images/movie.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video> -->
    <!-- 
    <div class="absolute my-auto top-1/5  -right-[60dvw] w-full h-8/12 bg-gradient-to-r from-blue-900 via-blue-500 to-blue-50  opacity-90 rounded-l-lg overflow-hidden">
        <div class=" ">
          <figure>
          </figure>
        </div>
    </div> -->


    <div class="flex justify-start items-center h-full py-6">


      <div class="">
        <h1 class=" relative text-9xl uppercase font-medium grou text-slate-950">Y<span >our</span> Vision.
          <span
            class="absolute inset-0 text-9xl text-black mix-blend-difference uppercase font-medium group-hover:translate-1.5 group-hover:bg-black group-hover:text-white">Your
            Vision.</span>
        </h1>
        <h1 class="text-9xl mix-blend-difference text-white uppercase font-medium">
          <span>
            &ThickSpace;&ThickSpace;</span>Our Expertise.</h1>
        <h2 class="text-2xl text-slate-700 mt-4">We craft software that&apos;s tailored to your business, easy to adopt,
          and built to last.</h2>

        <div class="flex gap-4 mt-4">
          <a href="#"
            class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-blue-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300 ">
            Learn more &#8594;
          </a>
        </div>

      </div>

    </div>
  </section>
</main>