{% from "components/link.njk" import Link %}
{% from "components/card_1.njk" import Card_1 %}

<main class="px-10 pb-80">

    <section class="py-10">

        <div class="flex gap-10 max-lg:flex-col ">
            <div class="basis-1/2 flex flex-col gap-10 justify-start">
                
                <p >
                    Wissenschaft is an agile software house producing top quality applications. Since 2022, we have
                    delivered a
                    variety of projects for companies of all sizes - from one-person startups to enterprises like
                    Pinterest,
                    Asmodee, universities, and non-profits. We build client relationships on trust, openly sharing our
                    work
                    methods and the rules we rely on.
                </p>
                <div class="flex flex-col gap-6 items-start">
                    <p class="uppercase text-blue-400 font-medium">Services</p>

                    <div class="flex flex-wrap gap-4 ">
                        {{ Card_1("Web Development") }}
                        {{ Card_1("App Development") }}
                        {{ Card_1("Product Design") }}
                    </div>
                </div>

            </div>
            <figure class="basis-1/2 rounded-sm overflow-hidden ">
                <img src="/assets/images/mockup.jpg" alt="Wissenschaft-app">
            </figure>
        </div>

    </section>
</main>