{% from "components/link.njk" import Link %}
{% from "components/card_1.njk" import Card_1 %}

<main class="px-10 pb-80">
    <section class="py-10 mb-10">

        <div class="relative mx-auto w-full flex justify-center">

            <div class="flex items-start justify-between">

                <div class="flex flex-col gap-4 justify-start items-start basis-2/5">
                    <h2 class="text-3xl ">
                        We provide design, development, strategy, and copywriting services to companies & organizations
                        of
                        all sizes.
                    </h2>
                    <a href="#"
                        class="relative text-3xl text-blue-400 font-medium before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300">
                        Services &rightarrow;
                    </a>
                </div>
                <div class="text-5xl text-blue-400 font-medium flex flex-col gap-4 px-6">
                    <h2>Site & App</h2>
                    <h2>Brand</h2>
                    <h2>Software</h2>
                </div>

            </div>
        </div>
        <div class="flex flex-col gap-6 mx-auto mb-40">

            <h2 class="text-center text-5xl">
                Get the best product on the market
            </h2>
            <p class="text-center text-lg max-w-3xl mx-auto">
                Wissenschaft is an agile software house producing top quality applications. Since 2022, we have
                delivered a
                variety of projects for companies of all sizes - from one-person startups to enterprises like Pinterest,
                Asmodee, universities, and non-profits. We build client relationships on trust, openly sharing our work
                methods and the rules we rely on.
            </p>
        </div>
    </section>
    <section class="py-10">

        <div class="flex gap-10 mt-10 max-lg:flex-col ">
            <div class="basis-1/2 flex flex-col gap-10 justify-start">
                <p>
                    Wissenschaft is a reliable partner that delivers high-quality products. Their team is skilled,
                    communicative, and proactive, making them a pleasure to work with. They consistently meet deadlines
                    and exceed expectations.
                </p>
                <div class="flex flex-col gap-6">
                    <p class="uppercase text-blue-400 font-medium">Services</p>

                    {{ Card_1("Web Development") }}
                    {{ Card_1("App Development") }}
                    {{ Card_1("Product Design") }}
                </div>

            </div>
            <figure class="basis-1/2 rounded-sm overflow-hidden ">
                <img src="/assets/images/mockup.jpg" alt="Wissenschaft-app">
            </figure>
        </div>

    </section>
</main>